body {background-image: url("http://i.imgur.com/Nbi7bYI.jpg");}

@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

h1 {font-family: 'Berkshire Swash', cursive;
  font-size: 42px; }

h2 {font-family: 'Berkshire Swash', cursive;
  font-size: 42px; }

h3 {font-family: 'Berkshire Swash', cursive;
  font-size: 42px; }

h4 {font-family: 'Berkshire Swash', cursive;
  font-size: 42px; }

p { font-family: 'Garamond', serif;
   font-size: 16px;}
